

h1{background-color: blue; color: white; padding-top: 5px; padding-left: 12px;}

.header{background-color: rgb(230, 182, 27); width: 300px; height: 300px; display: inline-block;}

p{color: white; padding-left: 10px;}

.intro{padding-left: 15px; margin-left: 5px;}

.body{background-color: rgb(230, 182, 27); width: 300px; height: 300px; display: inline-block; margin-left: 15px;}